<div class="image-blocks-container">
    <div class="block-1">
        <a>{{ block.settings.block-image-1 | img_url: '200x' }}
        <p>{{ block.settings.block-title-1 }}</a>
    </div>
        <div class="block-2">
        <a>{{ block.settings.block-image-2 | img_url: '200x' }}
        <p>{{ block.settings.block-title-2 }}</a>
    </div>
        <div class="block-3">
        <a>{{ block.settings.block-image-3 | img_url: '200x' }}
        <p>{{ block.settings.block-title-3 }}</a>
    </div>
        <div class="block-4">
        <a>{{ block.settings.block-image-4 | img_url: '200x' }}
        <p>{{ block.settings.block-title-4 }}</a>
    </div>
</div>